## Java

##Project
/temp

*.class
*.war
*.ear
hs_err_pid*

## Robovm
Game/ios/robovm-build/

## GWT
Game/html/war/
Game/html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
Game/android/libs/armeabi/
Game/android/libs/armeabi-v7a/
Game/android/libs/arm64-v8a/
Game/android/libs/x86/
Game/android/libs/x86_64/
Game/android/gen/
.idea/
*.ipr
*.iws
*.iml
Game/android/out/
Game/com_crashlytics_export_strings.xml


/build/
Game/android/build/
Game/core/build/
Game/desktop/build/
Game/html/build/
Game/ios/build/
Game/ios-moe/build/

Game/nbbuild/
Game/android/nbbuild/
Game/core/nbbuild/
Game/desktop/nbbuild/
Game/html/nbbuild/
Game/ios/nbbuild/
Game/ios-moe/nbbuild/

Game/dist/
Game/android/dist/
Game/core/dist/
Game/desktop/dist/
Game/html/dist/
Game/ios/dist/
Game/ios-moe/dist/

Game/nbdist/
Game/android/nbdist/
Game/core/nbdist/
Game/desktop/nbdist/
Game/html/nbdist/
Game/ios/nbdist/
Game/ios-moe/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

Game/local.properties
Game/.gradle/
gradle-app.setting
Game/build/
Game/android/build/
Game/core/build/
Game/desktop/build/
Game/html/build/
Game/ios/build/
Game/ios-moe/build/

## OS Specific
.DS_Store
Thumbs.db
